/* SCROLL FADE ANIMATION */
.fade-section {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.fade-section.show {
  opacity: 1;
  transform: translateY(0);
}
